In [2]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller

In [8]:
# Carga los datos de temperatura
df_temperatures = pd.read_csv('temperaturesbarcelonadesde1780.csv')
df_temperatures.head()

,Any,Temp_Mitjana_Gener,Temp_Mitjana_Febrer,Temp_Mitjana_Marc,Temp_Mitjana_Abril,Temp_Mitjana_Maig,Temp_Mitjana_Juny,Temp_Mitjana_Juliol,Temp_Mitjana_Agost,Temp_Mitjana_Setembre,Temp_Mitjana_Octubre,Temp_Mitjana_Novembre,Temp_Mitjana_Desembre
0,1786,7.8,8.3,9.9,12.8,16.8,20.2,20.9,21.1,19.5,15.5,9.2,8.3
1,1787,5.4,7.8,11.3,12.1,14.7,19.2,21.0,21.8,19.4,15.5,9.3,10.8
2,1788,6.4,10.1,10.4,12.5,17.1,19.2,22.1,23.0,19.1,15.5,10.5,5.4
3,1789,6.9,9.3,8.7,13.3,17.7,18.5,20.9,21.9,20.0,14.7,7.8,7.3
4,1790,7.4,9.5,10.4,12.3,15.0,19.0,20.8,23.1,19.3,17.1,11.7,7.9

In [9]:
df_temperatures = df_temperatures[['Any', 'Mes', 'Temp_Mitjana']]
df_temperatures = df_temperatures.rename(columns={'Any': 'Año', 'Mes': 'Mes', 'Temp_Mitjana': 'Temperatura'})

KeyError: "['Mes', 'Temp_Mitjana'] not in index"

In [ ]:
# Combina la columna de año y mes en una columna de fecha
df_temperatures['Fecha'] = pd.to_datetime(df_temperatures[['Año', 'Mes']].assign(day=1))

In [ ]:
# Establece la fecha como índice
df_temperatures.set_index('Fecha', inplace=True)

In [ ]:
# Realiza la prueba de estacionariedad utilizando adfuller()
result = adfuller(df_temperatures['Temperatura'])

In [ ]:

# Extrae los resultados
adf_statistic = result[0]
p_value = result[1]
critical_values = result[4]

In [ ]:
# Imprime los resultados
print('Estadístico ADF:', adf_statistic)
print('Valor p:', p_value)
print('Valores críticos:')
for key, value in critical_values.items():
    print('\t', key, ':', value)